@page "/Usser"

<h3>Lista de Usuarios</h3>

@if (usuariosLista == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Codigo Usuario</th>
                <th>Nombre</th>
                <th>Tipo Usuario</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in usuariosLista)
            {
                <tr>
                    <td>@user.CodigoUsuario</td>
                    <td>@user.Nombre</td>
                    <td>@user.TipoUsuario</td>
                    <td>
                        @if(@user.Estado)
                        {
                            <span class = "oi oi-circle-check" style = "color:green;"></span>
                        }
                        else
                        {
                              <span class = "oi oi-circle-x" style = "color:red;"></span>
                        
                        }

                    </td>
                    <td>
                        <a class = "btn btn-primary" href ="@($"/Usser/Editar/{user.CodigoUsuario}")">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

